.topo {
    background-color: #0058ba;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
}

.topo nav {
    display: flex;
    gap: 1.5rem;
    border-radius: 10px;
    padding: 10px;
}

.topo nav a {
    color: #7defff;
    text-decoration: none;
    background-color: #ff75cf;
    min-width: 100px;
    height: 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    transition: color 0.3s ease;
}

.topo nav a:hover {
    color: #f4c5e3;
}

.port, .sobr, .tecn, .cont {
    font-size: 2.5rem;
    display: flex;
}

.rodape {
    background-color: #0058ba;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 100%;
}