.perfil {
    width: 100px;
    height: 100px;
    object-fit: cover;
    transform: scale(1.8);
    object-position: 30% 5%;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #ffd6f3;
    display: inline-block;
    margin-bottom: 45px;
}

.sobremim {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.conteudo-sobre {
    max-width: 800px;
    text-align: center;
}

.conteudo-sobre h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #0058ba;
}

.conteudo-sobre p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    color: #333;
}

