@import url('reset.css');
@import url('layout.css');
@import url('home.css');
@import url('sobre.css');

.contato {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem;
    text-align: center;
}

.contato div {
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 3rem;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.contato p {
    font-size: 1.3rem;
    color: #333;
}

.contato a {
    color: #0058ba;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.contato a:hover {
    color: #ff75cf;
    text-decoration: underline;
}
.habil{
     max-width: 600px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 3rem;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
    
}
